@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

$url: '../../assets/img/picture-asset.jpeg';
$position: center center;

.asset {
    .asset__start {
        background-color: c.$ultraLightGrey;

        .asset__startContent {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 350px 359px 96px 12px;
            color: c.$lightBlue;
            max-width: 80%;
        }
    }

    .asset__picture {
        @include m.picture($url, $position);
    }

    .asset__whyMatters {
        background-color: c.$ultraLightGrey;

        .asset__whyMattersContent {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 160px 584px 160px 12px;

            .asset__whyMattersText {
                @include m.text3();
                color: c.$lightPurple;
            }

            h3 {
                color: c.$lightBlue;
                max-width: 75%;
            }
        }
    }

    .asset__approach {
        background-color: c.$ultraDarkBlue;

        .asset__approachContent {
            padding: 160px 0px 160px 0px;
            display: flex;
            flex-direction: column;
            gap: 80px;

            .asset__approachText {
                display: flex;
                margin-left: 372px;
                flex-direction: column;
                gap: 48px;

                h1 {
                    color: c.$white;
                }

                .asset__approachDesc {
                    color: c.$lightPurple;
                    width: 55%;
                }
            }

            .asset__approachInfo {
                &::-webkit-scrollbar {
                    display: none;
                }

                .asset__approachDist {
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    gap: 12px;

                    & > :nth-child(1) {
                        margin-left: 372px;
                    }

                    & > :nth-child(4) {
                        margin-right: 12px;
                    }

                    .asset__approachCard {
                        flex: 0 0 auto;
                        padding: 48px 37px 48px 32px;
                        width: 360px;
                        height: 504px;
                        background-color: c.$accentBlue;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        border-radius: 8px;
                        cursor: pointer;
                        color: c.$white;
                    
                        p {
                            @include m.text3();
                        }
                    }
                }
            }
        }
    }

    .asset__whyUs {
        background-color: c.$ultraDarkBlue;

        .asset__whyUsContent {
            display: flex;
            flex-direction: column;
            gap: 80px;
            padding: 0px 189px 160px 372px;
            color: c.$white;
            width: 80%;
        }
    }
}