@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

$url: '../../assets/img/picture-asset.jpeg';
$position: center center;

.asset {
    .asset__start {
        background-color: c.$ultraLightGrey;

        .asset__startContent {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 336px 132px 96px 12px;
            color: c.$lightBlue;
            max-width: 100%;
            letter-spacing: -4.16px;

            h2 {
                color: c.$lightPurple;
                letter-spacing: -2.56px;
            }

            @media only screen
            and (max-device-width: 1190px) {
                padding: 234px 12px 50px 12px;
                max-width: 100%;
                gap: 32px;
            }
        }
    }

    .asset__picture {
        @include m.picture($url, $position);
    }

    .asset__whyMatters {
        background-color: c.$ultraLightGrey;
        padding: 100px 108px 100px 12px;
        display: flex;
        flex-direction: column;
        gap: 100px;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 12px;  
            gap: 32px;
        }
        .asset__whyMattersStartText {
            @include m.text1();
            color: c.$lightBlue;
            letter-spacing: -0.96px;
            max-width: 1320px;

            @media only screen
            and (max-device-width: 1190px) {
                @include m.text2();
            }
        }

        .asset__whyMattersItem {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 26px;

            h2 {
                color: c.$lightPurple;
            }

            .asset__whyMattersMainText {
                @include m.text1();
                letter-spacing: -0.96px;
                color: c.$lightBlue;

                @media only screen
                and (max-device-width: 1190px) {
                    @include m.text2();
                }
            }

            @media only screen
            and (max-device-width: 1190px) {
                gap: 20px;
            }
        }

        .asset__whyMattersBottomText {
            @include m.text1();
            color: c.$grey;
            letter-spacing: -0.96px;
            max-width: 1320px;

            @media only screen
            and (max-device-width: 1190px) {
                @include m.text2();
            }
        }

        .asset__whyMattersText {
            @include m.text3();
            color: c.$lightPurple;
        }
    }
}