@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.region {
    overflow-x: hidden;

    .region__start {
        display: inline-flex;
        padding: 416px 0px 88px 12px;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 524px 43px 88px 12px;
        }

        h2 {
            color: c.$white;
            white-space: pre-line;
        }
    }

    .region__desc {
        background-color: c.$ultraLightGrey;
        padding: 160px 12px 0 12px;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 12px 0 12px;
        }

        .region__descBody {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding-bottom: 120px;
            border-bottom: 1.5px solid c.$lightGrey;

            @media only screen
            and (max-device-width: 1190px) {
                padding-bottom: 104px;
            }

            p {
                @include m.text1();

                color: c.$lightPurple;
                width: 60%;

                @media only screen
                and (max-device-width: 1190px) {
                    @include m.text3();
                }
            }

            h3 {
                color: c.$lightBlue;
                width: 90%;
            }
        }
    }

    .region__services {
        padding: 120px 64px 136px 64px;
        background-color: c.$ultraLightGrey;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 104px 12px 140px 12px;
            width: 100%;
        }

        .region__servBody {
            display: flex;
            flex-direction: column;
            gap: 96px;

            @media only screen
            and (max-device-width: 1190px) {
                gap: 80px;
            }

            p {
                @include m.text1();

                color: c.$lightBlue;
                width: 499px;
                display: flex;
                align-self: flex-end;

                @media only screen
                and (max-device-width: 1190px) {
                    @include m.text3();
                    width: 80%;
                    align-self: flex-start;
                }
            }

            .region__servContent {
                display: flex;
                flex-direction: column;
                gap: 64px;

                .region__servItemLeft {
                    display: grid;
                    direction: rtl;
                    grid-auto-flow: dense;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                    height: 500px;

                    & > * {
                        direction: ltr;
                    }

                    .region__servImg {
                        @media only screen
                        and (max-device-width: 1190px) {
                            height: 222px;
                        }
                    }

                    .region__servInfo {

                        p {
                            @include m.text1();
                            width: 100%;
                        }

                        @media only screen
                        and (max-device-width: 1190px) {
                            height: 521px;
                            padding: 32px 16px;
                        }
                    }

                    @media only screen
                    and (max-device-width: 1190px) {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                    }
                }

                .region__servItemRight {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 12px;
                    height: 500px;

                    .region__servImg {
                        @media only screen
                        and (max-device-width: 1190px) {
                            height: 222px;
                        }
                    }

                    .region__servInfo {
                        p {
                            @include m.text1();
                            width: 100%;
                        }

                        @media only screen
                        and (max-device-width: 1190px) {
                            height: 521px;
                            padding: 32px 16px;
                        }
                    }

                    @media only screen
                    and (max-device-width: 1190px) {
                        display: flex;
                        flex-direction: column;
                        height: auto;
                    }
                }
            }
        }
    }

    .region__benefits {
        background-color: c.$ultraDarkBlue;
        display: inline-flex;
        padding: 160px 66px 160px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;
        width: 100%;
        color: c.$white;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 25px 124px 12px;
        }

        .region__benefitsTitle {
            @include m.text1();
            margin-left: 372px;

            @media only screen
            and (max-device-width: 1190px) {
                @include m.text2();
            }
        }

        .region__benefitsCards {
            
            &::-webkit-scrollbar {
                display: none;
            }

            .region__benefitsDist {
                display: flex;
                flex-wrap: nowrap;
                align-items: flex-start;
                gap: 12px;

                @media only screen
                and (max-device-width: 1190px) {
                    width: 180%!important;
                }

                & > :nth-child(1) {
                    margin-left: 372px;

                    @media only screen
                    and (max-device-width: 1190px) {
                        margin-left: 0px;
                    }
                }

                .region__benefitsCard {
                    flex: 0 0 auto;
                    padding: 48px 37px 48px 32px;
                    width: 360px;
                    height: 504px;
                    background-color: c.$accentBlue;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    border-radius: 8px;
                    cursor: pointer;

                    @media only screen
                    and (max-device-width: 1190px) {
                        padding: 32px 16px;
                        width: 326px;
                        height: 438px;
                    }

                    p {
                        @include m.text3();

                        @media only screen
                        and (max-device-width: 1190px) {
                            @include m.text2();
                        }
                    }
                }
            }
        }
    }
}

.region__servImg {
    border-radius: 8px;
    height: 100%;
}

.region__servInfo {
    display: flex;
    flex-direction: column;
    padding: 48px 159px 48px 24px;
    align-items: start!important;
    justify-content: space-between;
    border-radius: 8px;
    background: c.$white;
    color: c.$accentBlue;

    p {
        @include m.text1();

        color: c.$accentBlue!important;
        align-self: flex-start!important;
        width: 80%!important;
    }
}