@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.footer {
    padding: 104px 48px 48px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    background-color: c.$accentBlue;

    @media only screen
    and (max-device-width: 1190px) {
        padding: 112px 12px 40px 12px;
    }

    .footer__info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .footer__content {
            display: flex;
            gap: 112px;

            .footer__item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .footer__icons {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .footer__icon {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    p {
                        @include m.text3();
                        color: c.$white;
                    }
                }

                &:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }

        @media only screen
        and (max-device-width: 1190px) {
            display: none;
        }
    }

    .footer__copy {
        width: 100%;

        div {
            width: 100%;
            stroke-width: 1px;
            stroke: c.$lightPurple;
            
        }

        p {
            @include m.typography();

            color: c.$lightPurple;

            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            border-top: solid 1px c.$lightPurple;

            padding: 16px 0 0 0;
        }

        @media only screen
        and (max-device-width: 1190px) {
            display: none;
        }
    }

    .footer__mobile {
        display: flex;
        flex-direction: column;
        gap: 64px;
        width: 100%;

        .footer__mobileContent {
            display: flex;
            flex-direction: column;

            .footer__item {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: c.$white;

                .footer__icons {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .footer__icon {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    p {
                        @include m.text3();
                    }
                }
            }

            & > :nth-child(1) {
                margin-bottom: 40px;
            }

            & > :nth-child(2) {
                margin-bottom: 64px;
            }

            & > :nth-child(3) {
                flex-direction: row;
                justify-content: space-between;
                color: c.$lightBlue;
                margin-bottom: 40px;

                img {
                    filter: brightness(0) saturate(100%) invert(33%) sepia(80%) saturate(2348%) hue-rotate(224deg) brightness(104%) contrast(101%);
                }
            }

            .footer__copyMobile {
                width: 100%;

                div {
                    width: 100%;
                    stroke-width: 1px;
                    stroke: c.$lightBlue;
                }
            
                p {
                    @include m.typography();
                
                    color: c.$lightBlue;
                
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    border-top: solid 1px c.$lightBlue;
                
                    padding: 16px 0 0 0;
                }

            }
        }

        .footer__mobileLogo {
            display: flex;

            a {
                @media only screen
                and (max-device-width: 350px) {
                    width: 100%;
                }

                img {
                    
                    @media only screen
                    and (max-device-width: 350px) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            @media only screen
            and (max-device-width: 350px) {
                width: 100%!important;
                height: auto!important;
            }
        }

        @media only screen
        and (min-device-width: 1189px) {
            display: none;
        }
    }
}