@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.footer {
    padding: 104px 48px 48px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    background-color: c.$accentBlue;

    .footer__info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .footer__content {
            display: flex;
            gap: 112px;

            .footer__item {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .footer__icon {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    p {
                        @include m.text3();
                        color: c.$white;
                    }
                }

                &:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }
    }

    .footer__copy {
        width: 100%;

        div {
            width: 100%;
            stroke-width: 1px;
            stroke: c.$lightPurple;
            
        }

        p {
            @include m.typography();

            color: c.$lightPurple;

            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            border-top: solid 1px c.$lightPurple;

            padding: 16px 0 0 0;
        }
    }
}