@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

$url: '../../assets/img/picture-about.jpeg';
$position: bottom center;

.about {
    .about__start {
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        gap: 40px;
        padding: 446px 389px 96px 12px;

        background-color: c.$ultraLightGrey;
        color: c.$lightBlue;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 360px 30px 48px 12px;
            width: 100%;
        }

        .about__description {
            max-width: 80%;

            @media only screen
            and (max-device-width: 1190px) {
                max-width: 100%;
            }
        }
    }

    .about__picture {
        @include m.picture($url, $position);
    }

    .about__mission {
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        gap: 40px;
        padding: 160px 666px 104px 12px;

        background-color: c.$ultraLightGrey;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 12px;
        }
        
        .about__missionSecondText {
            @include m.text3;

            color: c.$lightPurple;
            max-width: 55%;

            @media only screen
            and (max-device-width: 1190px) {
                max-width: 85%;
            }
        }

        .about__missionMainText {
            color: c.$lightBlue;
            max-width: 65%;

            @media only screen
            and (max-device-width: 1190px) {
                min-width: 90%;
            }
        }
    }

    .about__who {
        width: 100%;
        background-color: c.$ultraDarkBlue;

        .about__whoContent {
            padding: 160px 64px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media only screen
            and (max-device-width: 1190px) {
                padding: 140px 12px;
                gap: 48px;
            }

            .about__whoTitle {
                @include m.text1;
                color: c.$white;
            }

            .about__whoInfo {
                width: 100%;
                display: flex;
                justify-content: start;
                gap: 12px;
                height: 600px;

                @media only screen
                and (max-device-width: 1190px) {
                    height: auto;
                    flex-direction: column;
                }

                .about__whoItem {
                    height: 100%;
                    border-radius: 8px;
                    background-color: c.$accentBlue;
                    color: c.$white;
                    width: 429px;

                    @media only screen
                    and (max-device-width: 1190px) {
                        width: 100%;
                        height: 457px;
                    }

                    .about__WhoItemContent {
                        height: 100%;
                        padding: 48px 37px 48px 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @media only screen
                        and (max-device-width: 1190px) {
                            padding: 32px 18px 32px 16px;
                        }

                        h3 {
                            @media only screen
                            and (max-device-width: 1190px) {
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 40px; /* 100% */
                                letter-spacing: -1.6px;
                            }
                        }

                        .about__WhoItemInfo {
                            @include m.text3();

                            @media only screen
                            and (max-device-width: 1190px) {
                                @include m.text1();
                            }
                        }
                    }
                }
            }
        }
    }

    .about__apart {
        width: 100%;
        background-color: c.$ultraDarkBlue;

        .about__apartContent {
            padding: 0px 64px 160px 64px;
            display: flex;
            flex-direction: column;
            gap: 88px;

            @media only screen
            and (max-device-width: 1190px) {
                padding: 0px 12px 140px 12px;
                gap: 64px;
            }

            h1 {
                color: c.$white;
            }

            .about__apartInfo {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                .about__apartInfoItems {
                    display: flex;
                    flex-direction: column;
                    gap: 48px;
                    width: 644px;

                    @media only screen
                    and (max-device-width: 1190px) {
                        width: 100%;
                    }

                    .about__apartItem {
                        display: flex;
                        padding-top: 32px;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 24px;
                        align-self: stretch;
                        border-top: 1px solid c.$darkBlue;

                        h3 {
                            color: c.$white;
                        }

                        .about__apartItemInfo {
                            @include m.text3();
                            color: c.$lightPurple;

                            @media only screen
                            and (max-device-width: 1190px) {
                                @include m.text2();
                                width: 80%;
                            }
                        }
                    }
                }
            }
        }
    }
}