@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.servStartBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 360px 474px 96px 12px;
    background-color: c.$ultraDarkBlue;
    gap: 64px;

    .servStartBlock__titles {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .servStartBlock__maintitle {
            color: c.$darkBlue;
        }
        .servStartBlock__secondTitle {
            color: c.$lightBlue;
        }
    }

    .servStartBlock__text {
        color: c.$white;
        width: 954px;
    }
}