@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.home {
    overflow-x: hidden;

    .home__start {
        height: 100%;
        display: inline-flex;
        padding: 424px 464px 80px 12px;
        align-items: center;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url('../../assets/img/home.jpg') 
        lightgray 50% / cover no-repeat;
        background-size: 100% 100%;

        @media only screen
        and (max-device-width: 1190px) {
            width: 100%;
            padding: 364px 25px 88px 12px;
        }

        @media only screen
        and (max-device-width: 550px) {
            background-size: 260% 100%;
        }

        .home__startContent {
            display: flex;
            flex-direction: column;
            gap: 48px;

            @media only screen
            and (max-device-width: 1190px) {
                gap: 32px;
            }

            .home__mainText {
                color: c.$white;
                letter-spacing: -4.16px;
            }

            .home__startGetStarted a {
                display: flex;
                align-items: center;
                gap: 16px;
                width: fit-content;

                p {
                    @include m.text1();

                    color: c.$white;
                }

                button {
                    @include m.buttonStyle(c.$white, c.$accentBlue);
                    padding: 10px 10px;
                }

                &:hover button {
                    @include m.buttonStyle(c.$white, c.$lightBlue);
                    padding: 10px 10px;
                }
            }
        }
    }

    .home__whyUs {
        background-color: c.$ultraLightGrey;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        padding: 160px 74px 160px 722px;
        justify-content: flex-end;
        align-items: center;

        @media only screen
        and (max-device-width: 1190px) {
            width: 100%;
            padding: 140px 12px;
            justify-content: start;
            align-items: flex-start;
            gap: 48px;
        }

        .home__whyUsTitle {
            color: c.$lightBlue;
            margin-bottom: 40px;

            @media only screen
            and (max-device-width: 1190px) {
                margin-bottom: 16;
            }

        }

        .home__whyUsItem {
            display: flex;
            padding-top: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            border-top: 1px solid c.$lightGrey;

            .home__whyUsName {
                color: c.$lightBlue;
            }

            .home__whyUsValue {
                @include m.text3();
                color: c.$grey;

                @media only screen
                and (max-device-width: 1190px) {
                    @include m.text2();
                    color: c.$grey;
                }
            }
        }
    }

    .home__picture {
        width: 100%;
        height: 70vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
        url('../../assets/img/picture-home.jpeg') lightgray no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .home__services {
        display: flex;
        padding: 160px 12px 120px 64px;
        justify-content: space-between;
        align-items: flex-start;
        // gap: 161px;
        background-color: c.$ultraLightGrey;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 0px 120px 12px;
            flex-direction: column;
            gap: 64px;
            justify-content: start;
        }

        .home__servicesTitle {
            color: c.$lightBlue;
            width: 60%;

            @media only screen
            and (max-device-width: 1190px) {
                @include m.typography();
                color: c.$lightBlue;
                font-size: 72px;
                font-style: normal;
                font-weight: 400;
                line-height: 72px; /* 100% */
                letter-spacing: -2.88px;
            }
        }

        .home__servicesContent {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media only screen
            and (max-device-width: 1190px) {
                gap: 0px;
                flex-direction: row;
            }

            .home__servicesItem {
                display: flex;
                width: 100%;
                padding: 80px 24px;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                border-radius: 12px;
                background-color: c.$accentBlue;
                color: c.$white;

                @media only screen
                and (max-device-width: 1190px) {
                    padding: 64px 16px;
                    border-radius: 8px;
                    min-width: 326px;
                    margin-right: 12px;
                }

                h2 {
                    color: c.$white;
                    @media only screen
                    and (max-device-width: 1190px) {
                        width: 60%;
                    }
                }

                .home__servicesValue {
                    width: 360px;
                    color: c.$lightGrey;

                    @media only screen
                    and (max-device-width: 1190px) {
                        width: 90%;
                    }
                }

                & > :nth-child(3) {
                    margin-right: 12px;
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .home__work {
        width: 100%;
        display: inline-flex;
        padding: 160px 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 72px;
        background-color: c.$ultraDarkBlue;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 140px 12px;
            gap: 64px;
        }

        .home__workTitle {
            & > :nth-child(1) {
                color: c.$darkBlue;
            }

            & > :nth-child(2) {
                color: c.$white;
            }

            @media only screen
            and (max-device-width: 1190px) {
                h3 {
                    @include m.text1();
                }
            }
        }

        .home__workContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 84px;
            width: 98%;

            .home__workItem {
                display: flex;
                padding: 16px 0px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border-bottom: 2px solid c.$darkBlue;

                h1, h2 {
                    color: c.$white;
                }

                p {
                    @include m.text2();
                    color: c.$grey;
                    width: 291px;
                }

                @media only screen
                and (max-device-width: 1190px) {
                    flex-direction: column;
                    gap: 24px;
                    justify-content: start;
                    align-items: flex-start;
                    padding: 0px 0px 16px 0px;
                }
            }

            & > :nth-child(3) {
                border: none;
            }
        }
    }

    .home__getStarted {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        background-color: c.$ultraLightGrey;

        @media only screen
        and (max-device-width: 1190px) {
            flex-direction: column;
        }

        .home__getStartedPicture {
            width: 100%;
            height: 720px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), 
            url('../../assets//img/picture-started.jpeg') lightgray 50% / cover no-repeat;

            @media only screen
            and (max-device-width: 1190px) {
                height: 420px;
            }
        }

        .home__getStartedContent {
            display: flex;
            padding: 64px 295px 293px 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 64px;
            flex-shrink: 0;

            @media only screen
            and (max-device-width: 1190px) {
                padding: 64px 12px 332px 12px;
            }

            .home__getStartedBody {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                color: c.$accentBlue;

                @media only screen
                and (max-device-width: 1190px) {
                    width: 70%;
                }

                p {
                    @include m.text1();

                    width: 393px;

                    @media only screen
                    and (max-device-width: 1190px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
