
$white: #FFFFFF;
$ultraLightGrey: #EDEDED;
$lightGrey: #D2D2D2;
$grey: #848484;
$lightPurple: #9592AA;
$lightBlue: #586AFF;
$accentBlue: #100094;
$darkBlue: #2E3649;
$ultraDarkBlue: #081327;
$failedRed: #E50000;