@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.readyToContact__block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    background-color: c.$ultraLightGrey;

    @media only screen
    and (max-device-width: 1190px) {
        flex-direction: column;
    }

    .readyToContact__picture {
        width: 100%;
        height: 720px;

        @media only screen
        and (max-device-width: 1190px) {
            height: 420px;
        }
    }

    .readyToContact__content {
        display: flex;
        padding: 64px 295px 0px 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
        flex-shrink: 0;

        @media only screen
        and (max-device-width: 1190px) {
            padding: 64px 11px 398px 12px;
        }

        .readyToContact__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            color: c.$accentBlue;
            width: 550px;

            @media only screen
            and (max-device-width: 1190px) {
                width: 90%;
                gap: 24px;
            }

            span {
                @include m.text2();
                width: 90%;
            }

            h3 {
                width: 90%;
            }
        }
    }
}