@use '../../../styles/colors' as c;
@use '../../../styles/mixins' as m;

$url: '../../../assets/img/picture-company.jpg';
$position: center center;

.company {
    .company__whyUs {
        background-color: c.$ultraLightGrey;
        display: flex;
        justify-content: flex-end;

        @media only screen
        and (max-device-width: 1190px) {
            justify-content: flex-start;
        }

        .company__whyUsContent {
            display: flex;
            flex-direction: column;
            gap: 64px;
            color: c.$lightBlue;
            padding: 160px 63px 160px 612px;
            width: 80%;

            @media only screen
            and (max-device-width: 1190px) {
                padding: 140px 12px;
                gap: 32px;
                width: 100%;
            }

            .company__whyUsText {
                @include m.text1();

                @media only screen
                and (max-device-width: 1190px) {
                    @include m.text2();
                    width: 80%;
                }
            }
        }
    }

    .company__picture {
        @include m.picture($url, $position);
    }

    .company__contact *> h3 {
        @include m.typography();
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        letter-spacing: -1.2px;
    }
}